/* #root {
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */



*{
  margin: 0px;
  padding: 0px;
}

/* .page_login{
  background-image: url('../src/assets/img/fondoLogo.jpg');
} */





